header{
    background-color: rgb(248, 227, 200);
	height: 150px;
}

#white{
	background-color: white;
}

#white1{
	background-color: rgb(248, 227, 200);
}

div, nav{
	background-color: rgb(255, 210, 151);
	font-size: large;
	text-align: left;
}


.table{
	border:3px solid black;
	border-collapse: collapse;
}
#color1{
	background-color: cadetblue;
}

#color2{
	background-color: chocolate;
}

th{
	border:3px solid black;
	font-size: 18px;
	padding: 10px;
}

td{
	border:3px solid black;
	text-align: center;
	padding: 10px;
}

#Логотип{
	float:left;
	width: 100px;
	height:100px;
	border-radius: 50%;
	padding: 10px;
}

#Текст{
	background-color:rgb(248, 227, 200);
	font-size: x-large;
	padding: 10px;
	text-align: center;
}

footer{
	background-color: rgb(248, 227, 200);
	height: 120px;
	font-size: x-large;
}

a{
	color: black;
	text-decoration: none;
}
